.select{
	width: 100%;
	position: relative;

	&._open{
		.select__body{
			display: block;
		}

		.select__header{
			border-bottom: transparent;
		}
		.select__arrow{
			transform: rotate(180deg);
		}
	}

	&__header{
		cursor: pointer;
		border: 1px solid #ccc;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__arrow{
		width: 16px;
		height: 21px;
		transition: .3s;
	}

	&__body{
		display: none;
		border: 1px solid #ccc;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		max-height: 200px;
		overflow-y: auto;
	}

	&__list{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item{
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid #ccc;
		transition: .3s;

		&:hover{
			background-color: #ccc;
		}
	}
}